* {
  box-sizing: border-box;
}

nav {
  display: flex;
  justify-content: space-around;
}

button {
  width: 10%;
  color: purple;
  background-color: lightgrey;
  border-color: purple;
  font-weight: bold;

  &:hover {
    background-color: purple;
    color: white;
  }
}

ul {
  color: blue;
}
